/* loading start */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white url('/front/img/Infinity-1s-200px.gif') no-repeat center;
    z-index: 99999;
}
/* loading end */

/* index page start */
.narinc{
    color: #C77700;
}
.texts{
    font-family: 'Grand Hotel', cursive;
  position: fixed;
  width: 100%;

}
nav.scrolled {
background-color: rgba(116, 116, 119, 0.8);
  }
.button1 {
margin-left: 100px;
background-color: #f8f8f8;
border: 1.5px solid black;
}
.button1:hover {
    background-color: rgb(58, 57, 57);
    border: 1.5px solid white;
    color: white;
    transition: 0.4s ease-in;
    }
.button1 p{
    font-family: 'Grand Hotel', cursive !important;
    width: 200px;
    height: 30px; 
    font-size: 30px;
  
}
.best{
    font-family: 'Grand Hotel', cursive;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   color: white;
   font-size:100px;
 
 
}
.size{
    font-size:50px;
    margin-left: 30px;
}

.nav-link{
    margin-right: 11px;
}
#a{
    position: relative;
}
#a:after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 28px;
    width:100% ;
    height: 100%;
    border-style: none none none solid;
    border-width: 4px;
    border-color: white;
    transform: rotate( 45deg);
    pointer-events: none;
  }

#right{
margin-left: 640px;
font-size: 23px;

}

.img{
    background-image: url("/front/img/siyuan-g_V2rt6iG7A-unsplash.jpg");
    background-repeat: no-repeat;
    width: 100%; 
    height: 880px;
    background-attachment: fixed;
    background-size: cover;
}
/* menus start */
.img3{
    background-image: url('/front/img/tim-toomey-STqHLqMne3k-unsplash.jpg');
    background-repeat: no-repeat;
    width: 100%; 
    height: 880px;
    background-attachment: fixed;
    background-size: cover;
   
}
.menus{
    color: black;
    background-color: #f8f8f8;;
    font-size:20px;
    margin-left: 900px;
    width: 440px;
    height: 280px;
    margin-top: 380px;
    position: absolute;
}
.menus p{
   position: initial;
    margin-left: 9px;
    font-family: 'Glegoo', serif;
}
.menus1{
    font-family: 'Glass Antiqua', cursive;
    font-size: 70px;
    margin-left: 125px;
}

/* menus end */

/* rooms start */

.img2{

    background-image: url('/front/img/francesca-tosolini-hCU4fimRW-c-unsplash.jpg');
    background-repeat: no-repeat;
    width: 100%; 
    height: 880px;
    background-attachment: fixed;
    background-size: cover;
   
}
.rooms{
   color: black;
   background-color: #f8f8f8;
   font-size:20px;
   width: 400px;
   height: 270px;
   position: absolute;
   margin-left: 200px;
   margin-top: 380px;

}


.rooms p{
    margin-left: 7px;
    font-family: 'Glegoo', serif;
}
.rooms1{
    font-family: 'Glass Antiqua', cursive;
    font-size: 70px;
    margin-left: 100px;
}

/* rooms end */

/* contact start */
.contact{
    font-family: 'Glass Antiqua', cursive;
    font-size: 40px;
    margin-left: 20px;
}
.contact2{
    font-family: 'Glegoo', serif;
    font-size: 24px;
}
.col-sm{
    margin-left: 30px;
}
/* contact end */

/* footer start */
#footer{
    background-color: rgba(119,116,116,0.74) ;
    width: auto;
    height: 55px;
    position: relative;
}
.footerp{
    font-family: 'Glegoo', serif;
    font-size: 24px;
    color: white;

position: absolute;
top: 20%;
left: 40%;
text-align: center;
margin: 0 auto;

}


/* footer end */

/* index page end */
